name: Run Unit Tests on push for Develop, on PR for master.

on: 
  pull_request:
    branches:	
      - master	

  push:	
    branches:	
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm test
